<a href="https://colab.research.google.com/github/CarolyneS14/ProjetosEmPython/blob/main/Python_Reprograma_Seletiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SELETIVA 1**

In [ ]:
print("Ola Mundo!")

Ola Mundo!

In [ ]:
#criar variáveis
saudacao = "Oi Mundo!"
print(saudacao)

Oi Mundo!

In [ ]:
flor_bonita = "margarida"
print(flor_bonita)

margarida

In [ ]:
numero1 = 2
print(numero1)
numero2 = 6
print(numero2)
soma = numero1 + numero2
print(soma)

print(numero1+numero2)
numero2 = numero1 + numero2
print(numero2)

2
6
8
8
8

In [ ]:
#
valor = 2,9
valor1 = 2
print("O tipo do valor e: ", type(valor), "O tipo do valor1 e: ", type(valor1))

O tipo do valor e:  <class 'tuple'> O tipo do valor1 e:  <class 'int'>

In [ ]:
#concatenar variáveis
texto = "Oi Mundo!"
texto1 = "Meu nome é Carolyne."
print(texto + " " + texto1)

Oi Mundo! Meu nome é Carolyne.

In [ ]:
#função para transformar um inteiro em uma string!
texto = "Oi Mundo!"
numero = str(1)
print(texto + " " + numero)

Oi Mundo! 1

In [ ]:
#função para transformar um string em uma inteiro!
texto = 5
numero = int("4")
print(texto+numero)

9

In [ ]:
#if = se
if 1 > 0 :
  print("Uhruuuuuuul")

print("Fim do programa")

Uhruuuuuuul
Fim do programa

In [ ]:
#else = se não (sempre após o uso do if)
if 1 < 0 :
  print("Uhruuuuuuul")
else:
  print(":'(")

print("Fim do programa")

:'(
Fim do programa

In [ ]:
#elif = se não (sempre após o uso do if)
if 1 < 0 :
  print("Uhruuuuuuul")
elif 1 > 0 :
  print ("eu que estou certo")
else:
  print(":'(")

print("Fim do programa")

eu que estou certo
Fim do programa

In [ ]:
num1 = 7
num2 = 9
if num1 < 0 :
  print(num2 - num1)
elif num1 > 0 and num2 < 0 :
  print(num1 - (num2))
else:
  print(num1 + num2)

16

In [ ]:
#laço de repetição  - while = enquanto

numero = 0

while numero <= 5:
  print(numero)
  numero = numero + 1

0
1
2
3
4
5

In [ ]:
#função input
entrada = input ("Escreva sua idade: ")
print (entrada)

texto = input("Escreva seu nome: ")
print(texto)

Escreva sua idade: 32
32
Escreva seu nome: Carol
Carol

In [ ]:
entrada = input ("Escreva um numero: ")
entrada = int(entrada)
print (entrada, type(entrada))

entrada1 = input ("Escreva outro numero: ")
entrada1 = int(entrada1)
print (entrada1, type(entrada1))

soma = entrada + entrada1
print(soma)

Escreva um numero: 32
32 <class 'int'>
Escreva outro numero: 62
62 <class 'int'>
94

In [ ]:
#desafio - Calculadora
numero1 = input("Digite um numero: ")
numero1 = int(numero1)
numero2 = input("Digite outro numero: ")
numero2 = int(numero2)

operacao = input("qual operação você quer realizar? ")

if operacao == '+':
    print(numero1 + numero2)

elif operacao == '-':
    print(numero1 - numero2)
elif operacao == '*':
    print(numero1 * numero2)
elif operacao == '/':
    print(numero1 / numero2)
else:
   ("Sua operação não é válida, digite novamente!")

Digite um numero: 62
Digite outro numero: 32
qual operação você quer realizar? -
30

In [ ]:
#Calculadora com um loop infinito
while True:
  operação = input("Insira uma operação: Soma (+), Divisão(/), Subtração(-), multiplicação(*) ")
  if operação == '+':
        numero1 = int(input("Insira o primeiro número: "))
        numero2 = int(input("Insira o segundo número: "))
        soma = numero1 + numero2
        print("Soma:", soma)
  elif operação == '-':
        numero1 = int(input("Insira o primeiro número: "))
        numero2 = int(input("Insira o segundo número: "))
        subtração = numero1 - numero2
        print("Subtracção:", subtração)
  elif operação == '*':
        numero1 = int(input("Insira o primeiro número: "))
        numero2 = int(input("Insira o segundo número: "))
        multiplicação = numero1 * numero2
        print("Multiplicação:", multiplicação)
  elif operação == '/':
        numero1 = int(input("Insira o primeiro número: "))
        numero2 = int(input("Insira o segundo número: "))
        divisão = numero1 / numero2
        print("Divisão:", divisão)
  else:
        print("Operação inválida!")
        break

Insira uma operação: Soma (+), Divisão(/), Subtração(-), multiplicação(*) 2024
Operação inválida!

**SELETIVA 2**

In [ ]:
print("Olá, Mundo!")

Olá, Mundo!

In [ ]:
a = "Olá, mundo!"
print(a)
a = 1
print(a)

print(a)

Olá, mundo!
1
1

In [ ]:
#Atribuindo valor para variável
variável = "Olá, mundo!"
print(variável)
print(variável)
print(variável)

Olá, mundo!
Olá, mundo!
Olá, mundo!

In [ ]:
#Atribuir valor numerico a variável
numero1 = 1
print(numero1)

numero2 = 32
print(numero2)

1
32

In [ ]:
#somar as duas variaveis
soma = numero1 + numero2
print("Soma: ", soma)

Soma:  33

In [ ]:
# tipos
a = 1
print("Tipo da variável a é ", type(a))
b = "Olá"
print("Tipo da variável b é ", type(b))
c = 3.2
print("Tipo da variável c é ", type(c))
d = -1
print("Tipo da variável d é ", type(d))
e = "3"
print("Tipo da variável e é ", type(e))
e = 3
print("Tipo da variável e é ", type(e))

Tipo da variável a é  <class 'int'>
Tipo da variável b é  <class 'str'>
Tipo da variável c é  <class 'float'>
Tipo da variável d é  <class 'int'>
Tipo da variável e é  <class 'str'>
Tipo da variável e é  <class 'int'>

In [ ]:
#Sequencia de texto
texto = "Oi, mundo!"
print(texto)
print(type(texto))

Oi, mundo!
<class 'str'>

In [ ]:
#concatenar texto
texto1 = "Meu nome é: "
texto2 = "Carolyne Santos"
frase = texto1 + texto2
print(frase)

Meu nome é: Carolyne Santos

In [ ]:
#Booleano
condicao = True
print(condicao)

True

In [ ]:
#condicoes
eh_maior_de_idade = True
tem_carteira_de_motorista = False
pode_dirigir = eh_maior_de_idade and tem_carteira_de_motorista
print(pode_dirigir)

False

In [ ]:
#Mudar tipo de variável e concatenar, pois so consigo concatenar variaveis do mesmo tipo

texto1 = "Oi "
numero1 = str(10)
print(texto1 + numero1)

Oi 10

In [ ]:
#condicao True e  False
if 1 > 0:
 print("Uhuul!")

Uhuul!

In [ ]:
#condicionais
numero1 = 1
numero2 = 0
if numero1 > numero2:
  print("Uhuul!")

Uhuul!

In [ ]:
#condicionais
numero1 = 1
numero2 = 10
print(numero1 >  numero2)
if numero1 > numero2:
    print("Uhuul!")
elif numero1 > numero2:
    print("ei")
else:
    print("aha")
print("fim do programa")

False
aha
fim do programa